.TitleHeader {
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 40px;
  font-family: 'OkineSans-Thin', sans-serif;
  font-weight: 300;
  width: 100%;
}

.Header {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-family: 'OkineSans-Thin', sans-serif;
  font-weight: 300;
}

.HeaderLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*border-bottom: 1px solid;*/
}

.body {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

.content {
  text-align: left;
  width: 800px;
}

a {
  font-size: 15px;
  color: #333;
  font-family: 'OkineSans-Regular', sans-serif;
  font-weight: 500;
  text-decoration: none;
  padding: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

a:hover {
  color: darkgray;
}


p {
  margin: 0;
  font-family: 'OkineSans-Regular', sans-serif;
  font-weight: 400;
    font-size: 16px;
}
