@font-face {
  font-family: 'OkineSans';
  src: local('OkineSans'), url(./fonts/OkineSans/OkineSans-Regular.otf) format('truetype');
}
body {
  margin: 0;
  background-color: #fffef2;
  font-family: 'OkineSans-Regular', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
